body {
	background: white;
}

#quienesSomos {
    background-image: url("aboutEquipo4.png");

}
fieldset {
border: 10px solid #008080;
}

@font-face {
    font-family: 'HETIKA';
    src: url('../fonts/HETIKA.otf') format('OpenType');
    font-style: normal;
    font-weight: normal;
}

p,a{
	color: #000;	
	cursor: pointer;
	font-size: 18px;
	font-family: Bahnschrift;
    text-align: center;
    text-align: justify;
    width: 650px;
}

p1 {
    font-family: 'HETIKA';
    color: #F2CA4C;
    font-size: 30px;
    display: block;
    width: 400px;
    margin: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 25px;
}

p2 {
    font-family: 'HETIKA';
    color: #008080;
    font-size: 22px;
    display: block;
    width: 400px;
    margin: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

p3 {
    font-family: 'HETIKA';
    color: #008080;
    font-size: 40px;
    display: block;
    width: 400px;
    margin: 0;
    text-align: right;
    margin-left: auto;
    margin-right: auto;

}

img{
    display: block;
    margin: auto;
}

td {
    margin: auto; 
    width: 600px; 
}